*
	margin: 0
	padding: 0
	outline: none

	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

.html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.5
	font-family: 'Open Sans', sans-serif
	overflow-x: hidden
	opacity: 1	

#head
	height: 100vh
	background-color: #cd9575
	#top-mnu
		position: absolute
		top: 0px
		left: 0
		right: 0
		z-index: 9999
		width: 100%
		.logo
			width: 55%
			margin: 30px 5%
		.menu
			text-align: center
			ul
				list-style-type: none
				margin-top: 40px
				display: inline-block
				li
					font-size: 16px
					font-family: 'Open Sans', sans-serif
					text-transform: uppercase
					padding: 12px 25px
					display: inline-block
					a
						color: #fff
						&:hover
							color: #ef7f1a
						&.active
							color: #ef7f1a		
		.phone
			font-size: 26px
			font-family: 'Open Sans', sans-serif
			color: #ef7f1a		
			margin: 45px 5% 5% 0
			text-align: right		

	#top-mnu.default
		position: fixed
		top: 0px

	#content-screen-one
		h2
			margin: 10px 0 0 0
			padding: 15% 50px 20px 40px
			color: #ef7f1a	
			text-transform: uppercase
		p
			padding: 0 40px
			color: #fff		
			line-height: 1.7
			font-size: 15px	
	.wrapper-btn
		text-align: center
		margin-top: 50px
		button
			background-color: #ef7f1a
			padding: 12px 30px
			font-family: 'Open Sans', sans-serif
			font-size: 14px
			text-transform: uppercase
			color: #fff
			border: none
			&:focus, &:hover
				background-color: #fff
				color: #ef7f1a	
					

#two
	height: 100vh
	background-color: #7a4d64

#content-screen-two
	margin-top: 15%
	
#three
	height: 100vh
	background-color: #757575		

#content-screen-three	
	margin-top: 15%						

	